.header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.h1 {
  color: var(--primary-color);
}

.navRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.spacerLong {
  width: 3.5rem;
}

.spacer {
  width: 0.25rem;
}

.utilBtns {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.utilBtns button {
  border-radius: 50%;
  width: 40px;
}

/* screen sizes */
@media (max-width: 768px) {
  .header {
    width: 100dvw;
  }

  .navRow {
    margin-top: 0rem !important;
    flex-direction: column;
  }
  .navRow button {
    max-width: 80px;
  }
  .utilBtns {
    margin-top: 0.5rem;
    margin-bottom: -1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/* animations */
.nav {
  opacity: 0;
  animation: slideBottom 1s ease-in forwards;
  transition: all;
  z-index: 999;
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
