.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.card {
  padding: 0.25rem;
}

.card img {
  max-width: 150px;
}
