.buttonRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.buttonRow button {
  margin: 0.125rem;
  width: 107px;
}

.active {
  color: white;
  background: linear-gradient(to bottom right, #8b5cf6, #3490dc);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container span {
  width: 103px;
  height: 36px;
}
.container h3 {
  font-size: 1.75rem;
}
