.logo {
  width: fit-content;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  position: relative;
}

.logoImg {
  border-radius: 50%;
  max-width: 155px;
  max-height: 155px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nameTitleGroup {
  padding-left: 1rem;
}

/* screen sizes */
@media (max-width: 768px) {
  .nameTitleGroup h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .nameTitleGroup p {
    font-size: 14px;
    margin-bottom: 0.125rem;
    margin-top: -0.25rem;
  }
  .logo {
    width: 60px;
    height: 60px;
    align-items: center;
    margin: 0;
  }

  .logoImg {
    border-radius: 50%;
    max-width: 56px;
    max-height: 56px;
  }
  .stars svg {
    height: 20px;
    width: 20px;
  }
}
