.serviceSheet h3 {
  font-size: 24px;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.service {
  font-size: 30px !important;
}

.serviceSheet p {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.fadeListIn {
  opacity: 0;
  animation: fadeListIn 1s ease-in-out forwards;
}
@keyframes fadeListIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
